<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <form method = 'post' action = '/hello'>
        <input type ='text' name = 'name' />
<!--        <select language = 'language'>"-->
<!--        <option value='french'>French</option>-->
<!--        <option value='italian'>Italian</option>-->
<!--        <option value='spanish'>Spanish</option>-->
<!--        <option value='pigLatin'>Pig Latin</option>-->
<!--        <option value='canadian'>Canadian</option>-->
<!--        <option value='english'>English</option>-->
<!--        </select>-->
        <input type = 'submit' value = 'Greet me!'/>
    </form>
</body>
</html>
